body {
    background-color: #FFFFFF;
}
    
#top {
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: 0px;
}

div {
    /*border: 1px solid #222222;
    width: 300px;*/
    height: 300px;
    text-align: center;
    margin: auto;
    padding: 25px;
    margin-top: 0px;
}

img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid #222222;
    padding: 10px;
    margin: 20px 20px 0px 20px;
    width: 400px;
    vertical-align: middle;
}

p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}