.header {
    top: 0;
    height: 80px;
    background-color: #222222;
    margin: -10px -10px 0px -10px;
    color: white;
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
}
.container {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}
#input {
    font-size: 20px;
    text-align: center;
}
#btn {
    font-size: 20px;
    margin-top: 20px;
}
body {
    background-color: #F5F5F5;
}
#result {
    margin-top: -50px;
}
#bestContainer {
    width: 700px;
    margin: auto;
    margin-top: 20px;
}
#best {
    font-size: 30px;
    float: right;
}
#controls {
    text-align: center;
}
