hr {
    width: 400px;
    margin-top: 0px;
}
.disInline {
    display: inline;
}
.container {
    font-size: 25px;
    margin-top: -10px;
}
.choice {
    margin-left: 20px;
    display: inline;
}
.header {
    top: 0;
    height: 80px;
    background-color: #222222;
    margin: -10px -10px 0px -10px;
    color: white;
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
}
.heading {
    margin-top: 40px;
}
img {
    height: 100px;
    width: 100px;
}
